.logoWrapper {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	display: flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
	gap: 5px;
	transition: all ease-in-out .15s;
	overflow: hidden;
}

.logo:active {
	scale: 0.95;
}

.logoText {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	background-color: transparent;
	height: 36px;
	line-height: 36px;
	font-weight: 600;
	text-align: center;
	font-size: 1.75rem;
}

.logoText div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
